@font-face {
  font-family: "iconfont"; /* Project id 4697912 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1734250576925') format('woff2'),
       url('iconfont.woff?t=1734250576925') format('woff'),
       url('iconfont.ttf?t=1734250576925') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianji:before {
  content: "\e62c";
}

.icon-beizhu-copy:before {
  content: "\ea8c";
}

.icon-shenhe-copy:before {
  content: "\ea8d";
}

.icon-kanchagongzuoshangchuan-copy:before {
  content: "\ea8e";
}

.icon-beizhu:before {
  content: "\e60a";
}

.icon-shenhe:before {
  content: "\e6d9";
}

.icon-kanchagongzuoshangchuan:before {
  content: "\e663";
}

.icon-bianji1:before {
  content: "\e620";
}

.icon-jiahao1:before {
  content: "\e606";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-shensuo-copy:before {
  content: "\e605";
}

.icon-zuoshensuo-:before {
  content: "\e603";
}

.icon-youshensuo:before {
  content: "\ea8b";
}

.icon-xiala-copy:before {
  content: "\ea88";
}

.icon-xiala:before {
  content: "\e679";
}

.icon-xiala-copy1:before {
  content: "\ea8a";
}

.icon-yingyong-:before {
  content: "\e62b";
}

.icon-fanhui-copy:before {
  content: "\ea89";
}

.icon-fanhui:before {
  content: "\e837";
}

.icon-tongguo:before {
  content: "\e629";
}

.icon-weitongguo:before {
  content: "\e643";
}

.icon-jinhangzhong:before {
  content: "\e602";
}

.icon-jinhangzhong-copy:before {
  content: "\ea87";
}

.icon-piliangbianji:before {
  content: "\e61c";
}

.icon-qingkong:before {
  content: "\e62e";
}

.icon-cuowutishichahao_cuowutishichahao:before {
  content: "\e6b3";
}

.icon-chahao-copy:before {
  content: "\e601";
}

.icon-lianxian:before {
  content: "\e809";
}

.icon-shangla-copy:before {
  content: "\ea86";
}

.icon-shangla:before {
  content: "\e62a";
}

.icon-xiala1:before {
  content: "\e600";
}

.icon-xiala-copy-right:before {
  content: "\ea85";
}

.icon-zhankai:before {
  content: "\e65a";
}

.icon-expand:before {
  content: "\ea84";
}

.icon-chahao:before {
  content: "\e604";
}

.icon-queren:before {
  content: "\e64b";
}

.icon-shanchu1:before {
  content: "\e8b2";
}

.icon-shanchu:before {
  content: "\e68e";
}

.icon-icon-:before {
  content: "\e6dd";
}

.icon-bianji:before {
  content: "\e67f";
}

